$w: white;
$light-blue: #BCDEE8;


%heading {
  font-family: 'Abril Fatface', sans-serif;
  text-align: left;
  margin-left: 1%;
}

h1{
  @extend %heading;
  color: white;
  font-size: 54px;
}

h2, h3{
  @extend %heading;
  color: #9EFFB8;
}

p {
  font-size: 24px;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 1%;
  font-family: 'Roboto';
  font-weight: 300;
  color: $w;
  margin-right: 2%;
}

ul {
  font-size: 22px;
  font-family: 'Roboto';
  text-align: left;
  margin-left: 6%;
  li{
    font-weight: bold;
    a{
      color: green;
      }
    }
}

div {
  padding: 8px;
  border: 2px;
}

#menu {
  background-color: $light-blue;
  font-size: 14px;
  border: 0.5px solid gray;
}

/* Overrides bootrap list group items */
.list-group-item {
    padding: 5px 8px;
    font-size: 22px;
}

.list-group {
  margin-right: 10px;
}

/* Overrides active */
.active {
  background-color: red;
}

.list-group-item:hover {
  background-color: #157AF6;
  color: $w;
}

html,body,.container {
    height:100%;
}

img {
  width: 60%;
  text-align: center;
  padding: 1px 2px;
}

.blur img{
transition: 1s ease;
}

.blur img:hover {
-webkit-filter: blur(4px);
transition: 1s ease;
}

body {
  background-color: #00ADDC;
}

.bottom-left {
  position: absolute;
  margin-left: 20px;
  bottom: 50px;
  left: 100px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 300;
  color: $w;
  padding: 3px 7px;
  background-color: green;
  border-radius: 25px;
  border: 2px solid lightgreen;
}

a:hover {
  cursor: pointer;
}

@media (min-width: 1200px) {
    .menu {
        background-color: $light-blue;
        font-size: 14px;
        border: 0.5px solid gray;
        min-height:100%;
        position:fixed;
    }
    .bottom-left {
      position: absolute;
      margin-left: 20px;
      bottom: 50px;
      left: 100px;
      font-size: 20px;
      font-family: 'Roboto';
      font-weight: 300;
      color: white;
      padding: 3px 7px;
      background-color: green;
      border-radius: 25px;
      border: 2px solid lightgreen;
    }
}

@media (max-width: 1199px) {
  .menu {
    background-color: $light-blue;
    font-size: 14px;
    border: 0.5px solid gray;
  }
  .bottom-left {
    display: none;
  }
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
  margin-left: 1%;
  background-color: #9EFFB8;

    th {
      font-size: 21px;
      background-color: black;
      border: 1px solid white;
      border-collapse: collapse;
      padding: 8px 8px;
      color: $w;
      font-family: 'Roboto';
      font-weight: 200;
      text-align: center;
    }
    td {
      font-size: 18px;
      border: 1px solid gray;
      border-collapse: collapse;
      padding: 6px 6px;

    }
}
